<%= javascript_tag "myFunction()" %>

<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

<div class="myTickBox">
  <div class="field">
    <%= f.label :Tick_if_you_are_a_farmer %><br />
    <%= f.check_box :role, {:id => "myTickBox", :class => "myclass", :style => "mystyle", :onclick => "myFunction()" }, "1", "2" %>
  </div>
</div>
<%
=begin%>
 <--- TODO form input fields for farm name, 2 farm picture, 3 info 4 about farm, 5 farm type, and 6county --->  
<%
=end%>

<div id="onTickContents">
   <div class="field">
    <%= f.label :farm_name %> 
    <%= f.text_field :farm_name %>
   </div>

   <div class="field">
      <%= f.label :farm_image_url %> 
      <%= f.text_field :farmers_picture %>
    </div>

   <div class="field">
  <%= f.label :about %> 
  <%= f.text_area :about_farm %>
  </div>

   <div class="field">
    <%= f.label :farm_type %> 
    <%= f.text_field :farm_type %>
  </div>

   <div class="field">
    <%= f.label :county %> 
    <%= f.text_field :county %>
    </div>
</div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<script>
function myFunction() {
  var checkBox = document.getElementById("myTickBox");
  var text = document.getElementById("onTickContents");
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
     text.style.display = "none";
  }
}
</script>