<p id="notice"><%= notice %></p>
<div id="itemsContainer">

 <h1>Our Farmers</h1>

 <% @users.each do |user| %>
 <div class="itemhols">

 <%
=begin%>
 <h1><%= user.email %></h1>
<%
=end%>


  <h2><%= user.farm_name %></h2>
 <p><%= image_tag user.farmers_picture if user.farmers_picture.present? %></p>
<p><%= user.about_farm %></p>
<p><%= user.farm_type %></p>
<p><%= user.county %></p>

<%
=begin%>
 <%= link_to 'Show', user, :class => "button", :role => "button" %> 
<%
=end%>


 <% if session[:login] == 1 %> 
        <%
=begin%>
 <%= link_to 'Edit', edit_item_path(item), :class =>"button", :role=>"button" %>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"button", :role=>"button" %> 
<%
=end%>
        
        <% end %>


</div>
 <% end %>
</div>
