<p id="notice"><%= notice %></p>
<div id="itemsContainer">

 <h1>Our Farmers</h1>

 <% @users.each do |user| %>
 <div class="itemhols">

 <%
=begin%>
 <h1><%= user.email %></h1>
<%
=end%>
<!--Data to include on farmers: name, pic, about, type, county-->

  <h2><%= user.farm_name %></h2>
 <%
=begin%>
 <p><%= image_tag user.farmers_picture if user.farmers_picture.present? %></p> 
<%
=end%>
<%
=begin%>
 <%= image_tag user.avatar.variant(resize: "200x200").processed if user.avatar.attached? %> 
<%
=end%>

<% if user.avatar.attached? %>
	<image src="<%=(url_for(user.avatar))%>" class="itemholsIm">
<% end %>

<p><%= user.about_farm %>
<br>
<br>
Farm type:<%= user.farm_type %>
<br>

Location:<%= user.county %></p>


 <%
=begin%>
 <%= link_to 'Show', user, :class => "button", :role => "button" %>  
<%
=end%>
 <%
=begin%>
 <--<%= link_to 'Show', item, :class => "button", :role => "button" %> 
<%
=end%>
</div>
 <% end %>
</div>
