<p id="notice"><%= notice %></p>
<div id="itemsContainer">
 <h1><%= @user.farm_name  %></h1>
<%= image_tag user.farmers_picture if user.farmers_picture.present? :class => 'welcomIm' %>
<p><%= user.about_farm %></p>

 <div class="itemhols">
 <p>Price <%= number_to_currency(@item.price, :unit => "€") %>
 <br>
 Category: <%= @item.category %>
<br>
 shelf_life: <%= @item.shelf_life %></p>
<br>
 county: <%= @item.county %></p>
 <br>
  farm: <%= @item.farm %></p>
 <p>
 <%= link_to 'Back', items_path, :class => "button", :role => "button" %>
        <li><%= link_to 'Back', farmers_path, :class => "button", :role => "button" %>

 </p>

 </div>


 </div>