<!DOCTYPE html>
<html>
  <head>
   <title> <%= yield(:title) %> | Agri Foods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<!--Turbolinks go here-->
  <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class="headSec">
      <h1>Agri Foods</h1>
			  <!--<a href="about.html"><img src="icons/logo text.png" width="300" height="65" alt=""></a>-->

      </div>
      <ul>
        <li><%= link_to "Home",  "/" %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "View Cart", "/cart" %></li>
        <li><%= link_to "View Orders", orders_path  %></li>
        <li><%= link_to "Contact", contact_path %></li>
                  <% if user_signed_in? %>
                  
                 <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                 <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
                 <li><%= link_to 'Register', new_user_registration_path %></li> 
                 <li><%= link_to 'Sign in', new_user_session_path %></li>
          <% end %>


        <% if session[:login] == 1 %> 
        <li><%= link_to "Admin Logout", logout_path %></li>
        <% else %>
        
        <li><%= link_to "Admin Login", login_path %></li>
        <% end %>


        
      </ul>
      
      
    </header>

    <div class="container">
    <%= yield %>
    </div>

<footer class="foot">
<div class="footer-text-p1">
  <div class="footer-box-left">
    <p>MAIN MENU</p>
    <p><%= link_to "Home",  "/" %></p>
    <p><%= link_to "About", about_path %></p>
    <p><%= link_to "Contact", contact_path %></p>
  </div>
</div>
<div class="footer-text-p2">
  <div class="footer-box-middle">
    <p>COMPANY</p>
    <p>Our Story</p>
    <p>Work for us</p>
  </div>
</div>
<div class="footer-text-p3">
  <div class="footer-box-left">
    <p>FIND US ON</p>
    <p><a href=" " target="_blank">Facebook</a></p>
    <p><a href=" " target="_blank">Twitter</a></p>
    <p><a href=" " target="_blank">Instagram</a></p>
  </div>
</div>
</footer>
  </body>
</html>
